/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.logged-in{
    background: #ebebeb;
}
nav ul a,
nav .brand-logo {
    color: #444;
}

nav ul a{
    font-size: 14px;
    font-weight: 700;
}

nav.white{
    box-shadow: none;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #e53935;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

#logo-container{
    display: none;
}

.parallax.doc{
    top: 60px;
}
.parallax-container .section {
    width: 100%;
}

.icon-block {
     padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

/*********************************************
**********************************************
            NAVIGATION CUSTOM
*********************************************
*********************************************/

.menu-logo {
    height: auto;
    line-height: 29px;
}

.menu-logo-wrap{
    margin-right: 20px;
}

.menu-logo-wrap:hover {
    background: none;
}

.brand-logo img{
    padding-top: 8px;
}

.menu-logo img{
    margin-top: 8px;
}

.nav-button .btn-small{
    height: 36px;
    line-height: 36px;
    border-radius: 10px;
    color: #fff;
}

nav ul li:hover, nav ul li.active{
    background: none;
}



/*********************************************
**********************************************
            HEADER TOP
*********************************************
*********************************************/
.parallax-container.header-top{
    display: table;
    position: inherit;
}

.parallax-container.header-top .section{
    display: table-cell;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.1);
}

.parallax{
    overflow: hidden;
}

.card-org .card .card-content{
    position: relative;
}

.card-org .card .card-content .card-title{
    font-size: 20px;
    line-height: 24px;
    width: 80%;
    display: block;
    min-height: 50px;
}

.card-org i.right{
    position: absolute;
    right: 11px;
    top: 20px;
}
.card-org .card .card-image img{
    height: 100%;
    width: auto;
}

.card-org .card .card-reveal .card-title{
    cursor: pointer;
    display: block;
    font-size: 18px;
    line-height: 24px;
    width: 80%;
}

.card-org .card .card-image{
    text-align: center;
}

.card-org .card .card-image img:nth-child(2){
    width: 100%;
    height: auto;
    z-index: -1;
    position: absolute;
    top: 0;

    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.card-org .card-reveal p{
    font-size: 18px;
    line-height: 22px;
}

.card-org .card .card-action a{
    color:#e53935;
    font-size: 14px;
}

.card-org .tabs{
    width: 100%;
    margin: 40px auto;
}

.logged-in .card-org .tabs{
    margin: 0 auto 40px;
}

.button-wrap {
    text-align: center;
    display: block;
    padding: 10px 0 0;
}

.button-wrap .waves-effect{
    font-size: 10px;
}

.center-text{
    text-align: center;
    margin: 50px 0 0;
}
.login-wrap .center-text.no-margin, .center-text.no-margin{
    text-align: center;
    margin: 0 0 0;
}

.filters-wrap{
    margin-bottom: 30px;
}

h4.title{
    margin: 0;
}

.collection-bottom{
    margin-bottom: 20px;
}

.collection-bottom span{
    font-size: 16px;
    font-weight: 300;
}

.card-org .collection .collection-item.avatar{
    width: 48%;
    display: inline-block;
    border: none;
    text-align: left;
}

.card-org .collection{
    margin: 0.5rem 0 1rem 0;
    border: none;
    border-radius: 2px;
    overflow: inherit;
    display: inline-block;
    text-align: center;
}

.red-bg{
    background: #e53935;
    color: #fff;
}

.page-footer h5{
    font-size: 18px;
    font-weight: 700;
}

.page-footer li{
    font-size: 14px;
    font-weight: 300;
}

.row.org{
    display: table;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 300px;
}
/*********************************************
**********************************************
            LOGIN
*********************************************
*********************************************/
.login-wrap{
    width: 420px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin-bottom: 20px;
}

.login-wrap.signup{
    width: 800px;
}
.login-wrap h2, .login-wrap h5{
    color: #212121;
}

.free-width{
    width: 300px;
}

.login-wrap .prefix{
    color: #9e9e9e;
}

.login-wrap .input-field{
    width: 300px;
    margin: 20px auto 0;
    color: #212121;
}

.login-wrap .input-field .prefix ~ input{
    color: #212121 !important;
}

.btn-separator{
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 20px 0;
    line-height: 20px;
    color: #212121;
}

.btn-social-wrap .btn-large:first-child{
    margin-bottom: 10px;
}

.fb{
    background: #4d6094;
}

.instagram{
    background: #004879;
}
.fb:hover{
    background: #4d6094;
}

.instagram:hover{
    background: #004879;
}

.btn-large.fb img, .btn-large.instagram img{
    height: 25px;
    margin-top: 16px;
}

.login-wrap .input-field.select-wrap{
    margin-top: 50px;
}
/*********************************************
**********************************************
            PROFILE
*********************************************
*********************************************/

.col-custom.x2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.col-custom.x1{
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}
.col-custom.x1 img{
    width: 100%;
}
.col-custom.xx2{
    display: table-cell;
    vertical-align: middle;
    margin-left: 30px;
}
.col-custom.xx1{
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
}
.col-custom.xx1 img{
    width: 100%;
}

nav .user-drop{
    width: 150px;
    text-align: right;
}

nav .user-drop img{
    float: right;
    width: 25px;
    margin: 20px 0px 0 10px;
}

.username-prof{
    font-size: 20px;
}

.org .name-prof, .org .details-prof {
    color: #fff;
}
.name-prof{
    font-size: 40px;
    line-height: 38px;
}

.details-prof .ver{
    font-size: 16px;
    vertical-align: middle;
    color: #33691e;
}

.details-prof .loc{
    font-size: 16px;
    color: #d50000;
    vertical-align: middle;
}

.logged-in .tabs{
    background: none;
}

.logged-in .card-org .collection .collection-item.avatar{
    background: transparent;
}

#dropdownx a{
    font-size: 14px;
    width: 100%
}

#dropdownx a i{
    font-size: 14px;
    float: right;
}

.nav-prof-wrap{
    font-size: 14px;
    font-weight: 700;
}

.nav-prof-wrap img{
    float: right;
}

.nav-prof{
    width: 25px;
}

.side-prof{
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

.sidebar-prof{
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}

.side-uname{
    font-size: 14px;
    font-weight: 300;
}

.event-org{
    height: 20px;
    vertical-align: middle;
    display: inline-block;
}

.event{
    margin-top: 30px;
}

.funding{
    font-size: 32px;
}

.funding small{
    font-size: 12px;
}

.funding-days{
    font-size: 16px;
    font-weight: 300;
}

.event-org{
    height: 20px;
    vertical-align: middle;
    display: inline-block;
}

.event{
    margin-top: 30px;
}

.funding{
    font-size: 32px;
}

.funding small{
    font-size: 12px;
}

.funding-days{
    font-size: 16px;
    font-weight: 300;
}

.event-user{
    margin: 20px auto;
    width: 100%;
}

.event-user img{
    width: 50px;
}

.event-user-pic, .event-user-details{
    display: inline-block;
    vertical-align: middle;
}

.event-user-affiliate img{
    height: 12px;
    width: 12px;
}
/*********************************************
**********************************************
            MOBILE CUSTOM
*********************************************
*********************************************/
@media only screen and (max-width : 1185px) {
    .card-org .card .card-content .card-title {
        max-height: 50px;
        overflow: hidden;
    }
}
@media only screen and (min-width : 993px) {
    /*********************************************
    **********************************************
                CARD FEATURES
    *********************************************
    *********************************************/
    .card-org .card .card-image{
            height: 121px;
    }

    .card-org .featured .card .card-image{
        height: 416px;
    }
}

@media only screen and (min-width : 601px) and (max-width : 992px) {
    /*********************************************
    **********************************************
                CARD FEATURES
    *********************************************
    *********************************************/
    .card-org .card .card-image{
            height: 121px;
    }

    .card-org .featured .card .card-image{
            height: 121px;
    }
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #logo-container{
        display: block;
    }

    .card-org .collection .collection-item.avatar{
        width: 90%;
    }
    .login-wrap.signup{
        width: 300px;
    }
    .login-wrap.signup .input-field.col.s6{
        width: 90%;
    }

    .free-width{
        width: 100%;
    }
}

@media only screen and (max-width : 600px) {
    .card-org .card .card-image{
            height: 121px;
    }

    .card-org .featured .card .card-image{
            height: 121px;
    }
}
