{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block content %}
        <div class="container">
            <div class="section">
                <div class="row card-org">
                    <div class="pricing col s9">
                        <div href="#" class="col s6 price-choice center-text">
                            <div class="price-head">
                                <div class="price-name">Basic</div>
                                <div class="price">Free</div>
                                <div class="price-person">for a limited time only</div>
                            </div>

                            <div class="price-details">
                                <ul>
                                    <li>Membership open for all users</li>
                                    <li>Incorporation enabled</li>
                                    <li>Fixed organization profile</li>
                                    <li>Activity creation and matching enabled</li>
                                </ul>
                            </div>

                            <div class="price-btn">

                                <div class="row center">
                                    <a href="#" id="download-button" class="btn-large waves-effect waves-light red lighten-1">Sign Up</a>
                                </div>
                            </div>
                        </div>


                        <div href="#" class="col s6 price-choice center-text">
                            <div class="price-head">
                                <div class="price-name">Premium</div>
                                <div class="price"><small>Php</small>199</div>
                                <div class="price-person">per organization/month</div>
                            </div>

                            <div class="price-details">
                                <ul>
                                    <li>Admin option to approve membership</li>
                                    <li>Incorporation enabled</li>
                                    <li>Customizable organization profile</li>
                                    <li>Higher priority in activity matching</li>
                                </ul>
                            </div>


                            <div class="price-btn">

                                <div class="row center">
                                    <a href="#" id="download-button" class="btn-large waves-effect waves-light red lighten-1">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="red-bg">
            <div class="container">
                <div class="section">
                    <div class="row card-org">
                        <div class="col s12 center-text">
                            <h4> Find what interests you</h4>
                            <p>Lorem ipsum dolor sit amet, claritas, nihil sed decima, etiam sequitur claram odio nibh, hendrerit.</p><a href="#" id="download-button" class="btn-large waves-effect waves-light white lighten-1">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock %}
