{% load i18n staticfiles thumbnail %}

<!DOCTYPE html>
  <html>
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>Alab - Volunteerism Reinvented</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <!--Import materialize.css-->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>
    </head>

    <body class="{% block body_class %}{% endblock body_class %}">

        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="{% url 'home' %}" class="brand-logo"><img src = "{% static 'img/alab-logo.png' %}"></a>

                <ul  class="left hide-on-med-and-down">
                    <li class = "menu-logo-wrap"><a href="{% url 'home' %}" class = "menu-logo"><img src = "{% static 'img/alab-logo.png' %}"></a></li>
                    <li><a href="#">About.</a></li>
                    <li><a href="#">Organizations.</a></li>
                    <li><a href="#">Events.</a></li>
                    <li><a href="#">Hot Spot.</a></li>
                </ul>


                <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <!-- <li class = "nav-button "><a class="btn-small waves-effect waves-light red lighten-1" href="{% url 'users:profile' username=user.username %}">{{ user.first_name }}</a></li> -->
                    <li><a class="dropdown-button user-drop" href="#" data-activates='dropdownx'>Hi, {{ user.first_name|capfirst }}! <img class = "nav-prof circle" src = "{{ user.profile.photo|thumbnail_url:'thumbnail_avatar' }}"></a>

                        <ul id='dropdownx' class='dropdown-content'>
                            <li class = "nav-prof-wrap"><a href = "{% url 'users:profile' username=user.username %}">Hi, {{ user.first_name|capfirst }}! &nbsp;<img class = "nav-prof circle" src = "{{ user.profile.photo|thumbnail_url:'thumbnail_avatar' }}"></a></li>
                            <li class="divider"></li>
                            <li><a href="#!">Edit Profile &nbsp;<i class="material-icons prefix">settings</i></a></li>
                            <li><a href="{% url 'users:logout' %}">Logout&nbsp;<i class="material-icons prefix">power_settings_new</i></a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'users:login' %}">Log In</a></li>
                    <li class = "nav-button "><a class="btn-small waves-effect waves-light red lighten-1" href="{% url 'users:signup' %}">Sign Up</a></li>
                {% endif %}
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">About.</a></li>
                    <li><a href="#">Organizations.</a></li>
                    <li><a href="#">Events.</a></li>
                    <li><a href="#">Hot Spot.</a></li>
                    <li><a href="{% url 'users:login' %}">Log In</a></li>
                    <li><a href="{% url 'users:signup' %}">Sign Up</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    {% block content %}
    {% endblock %}

        <footer class="page-footer red">
            <div class="container">
                <div class="row">
                <div class="col l6 s12">
                    <a class="white-text" href="{% url 'home' %}"><img src = "{% static 'img/alabw.png' %}"></a>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Explore</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Organizations</a></li>
                        <li><a class="white-text" href="#!">Events</a></li>
                        <li><a class="white-text" href="#!">Hot Spot</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Facebook</a></li>
                        <li><a class="white-text" href="#!">Twitter</a></li>
                        <li><a class="white-text" href="#!">Instagram</a></li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Alab &reg; All Rights Reserved 2015
                </div>
            </div>
        </footer>

        <!--Import jQuery before materialize.js-->
        {% block js %}
        <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
        {% endblock %}
    </body>
  </html>
