{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block content %}

        <div id="index-banner" class="parallax-container header-top">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <h2 class="header center white-text text-lighten-2">Let's revolutionize society!</h2>

                    <div class="row center">
                        <h5 class="header col s12 light">Start your organization, create an event, fund projects, volunteer now!</h5>
                    </div>

                    <div class="row center">
                        <a href="#" id="download-button" class="btn-large waves-effect waves-light red lighten-1">Get Started</a>
                    </div>
                <br><br>

                </div>
            </div>
            <div class="parallax"><img src="{% static 'img/background1.jpg' %}" alt="Unsplashed background img 1"></div>
        </div>

        <div class="container">
            <div class="section">
                <div class="row card-org">
                    <div class="col s12 center-text">
                        <h4> Find what interests you</h4>
                        <p>Lorem ipsum dolor sit amet, claritas, nihil sed decima, etiam sequitur claram odio nibh, hendrerit.</p>
                    </div>

                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3"><a class="active" href="#test1">Organizations</a></li>
                            <li class="tab col s3"><a href="#test2">Events</a></li>
                        </ul>
                    </div>
                    <div id="test1">


                        <div class="col s12 filters-wrap">
                            <div class="filter right">
                                <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Category</a>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown1' class='dropdown-content'>
                                    <li><a href="#!">Alright</a></li>
                                    <li><a href="#!">Rock</a></li>
                                    <li><a href="#!">World</a></li>
                                </ul>

                                <a class='dropdown-button btn' href='#' data-activates='dropdown2'>Sort By</a>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown2' class='dropdown-content'>
                                    <li><a href="#!">Name</a></li>
                                    <li><a href="#!">Members</a></li>
                                </ul>

                                <a class='dropdown-button btn' href='#' data-activates='dropdown3'>Order</a>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown3' class='dropdown-content'>
                                    <li><a href="#!">ASC</a></li>
                                    <li><a href="#!">DESC</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class = "featured col s6 m6">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{% if organizations.0.photo %}{{ organizations.0.photo.url }}{% endif %}">
                                </div>


                                <div class="card-content">
                                      <span class="card-title activator grey-text text-darken-4">{{ organizations.0.name}}<i class="material-icons right">more_vert</i></span>
                                </div>

                                <div class="card-action">
                                  <a href="#">Explore</a>
                                </div>

                                <div class="card-reveal">
                                      <span class="card-title grey-text text-darken-4">{{ organizations.0.name}}<i class="material-icons right">close</i></span>
                                      <p>{{ organizations.0.description }}</p>
                                </div>
                            </div>
                        </div>
                        {% if organizations|length > 1 %}
                        {% for organization in organizations %}
                        {% ifnotequal organization organizations.0 %}
                        <div class = "col s6 m3">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{% if organization.photo %}{{ organization.photo.url }}{% endif %}">
                                </div>

                                <div class="card-content">
                                      <span class="card-title activator grey-text text-darken-4">{{ organization.name }}<i class="material-icons right">more_vert</i></span>
                                </div>

                                <div class="card-action">
                                  <a href="#">Explore</a>
                                </div>

                                <div class="card-reveal">
                                      <span class="card-title grey-text text-darken-4">{{ organization.name }}<i class="material-icons right">close</i></span>
                                      <p>{{ organization.description }}</p>
                                </div>
                            </div>
                        </div>
                        {% endifnotequal %}
                        {% endfor %}
                        {% endif %}

                    <div id="test2">


                        <div class="col s12 filters-wrap">
                            <div class="filter right">
                                <a class='dropdown-button btn' href='#' data-activates='dropdown5'>Category</a>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown5' class='dropdown-content'>
                                    <li><a href="#!">Tech</a></li>
                                    <li><a href="#!">Misc</a></li>
                                    <li><a href="#!">Pet</a></li>
                                </ul>

                                <a class='dropdown-button btn' href='#' data-activates='dropdown4'>Month</a>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown4' class='dropdown-content'>
                                    <li><a href="#!">Jan</a></li>
                                    <li><a href="#!">Feb</a></li>
                                    <li><a href="#!">Mar</a></li>
                                </ul>

                                <a class='dropdown-button btn' href='#' data-activates='dropdown6'>Order</a>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown6' class='dropdown-content'>
                                    <li><a href="#!">ASC</a></li>
                                    <li><a href="#!">DESC</a></li>
                                </ul>

                            </div>
                        </div>

                        <ul class="collection">
                            <li class="collection-item avatar">
                                <div class = "">
                                    <img src="{% static 'img/calamity/a4.jpg' %}" alt="" class="circle">
                                    <p><small>August 15, 2015</small></p>
                                    <span class="title"><h5>Lorem ipsum dolor sit amet</h5></span>
                                     <div class="progress">
                                        <div class="determinate" style="width: 70%"></div>
                                    </div>
                                    <div class = "collection-bottom"><span><strong>500%</strong> funded</span>&nbsp; | &nbsp;<span><strong>57</strong> Participants</span>&nbsp; | &nbsp;<span><strong>0</strong> days left</span></div>
                                </div>
                                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                            </li>


                            <li class="collection-item avatar ">
                                <div class = "">
                                    <img src="{% static 'img/calamity/a4.jpg' %}" alt="" class="circle">
                                    <p><small>August 15, 2015</small></p>
                                    <span class="title"><h5>Lorem ipsum dolor sit amet</h5></span>
                                     <div class="progress">
                                        <div class="determinate" style="width: 70%"></div>
                                    </div>
                                    <div class = "collection-bottom"><span><strong>500%</strong> funded</span>&nbsp; | &nbsp;<span><strong>57</strong> Participants</span>&nbsp; | &nbsp;<span><strong>0</strong> days left</span></div>
                                </div>
                                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                            </li>


                            <li class="collection-item avatar">
                                <div class = "">
                                    <img src="{% static 'img/calamity/a4.jpg' %}" alt="" class="circle">
                                    <p><small>August 15, 2015</small></p>
                                    <span class="title"><h5>Lorem ipsum dolor sit amet</h5></span>
                                     <div class="progress">
                                        <div class="determinate" style="width: 70%"></div>
                                    </div>
                                    <div class = "collection-bottom"><span><strong>500%</strong> funded</span>&nbsp; | &nbsp;<span><strong>57</strong> Participants</span>&nbsp; | &nbsp;<span><strong>0</strong> days left</span></div>
                                </div>
                                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                            </li>


                            <li class="collection-item avatar">
                                <div class = "">
                                    <img src="{% static 'img/calamity/a4.jpg' %}" alt="" class="circle">
                                    <p><small>August 15, 2015</small></p>
                                    <span class="title"><h5>Lorem ipsum dolor sit amet</h5></span>
                                     <div class="progress">
                                        <div class="determinate" style="width: 70%"></div>
                                    </div>
                                    <div class = "collection-bottom"><span><strong>500%</strong> funded</span>&nbsp; | &nbsp;<span><strong>57</strong> Participants</span>&nbsp; | &nbsp;<span><strong>0</strong> days left</span></div>
                                </div>
                                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--   Icon Section   -->
                <div class="row card-org">

                </div>

            </div>
        </div>
        </div>

        <div class="red-bg">
            <div class="container">
                <div class="section">
                    <div class="row card-org">
                        <div class="col s12 center-text">
                            <h4> Find what interests you</h4>
                            <p>Lorem ipsum dolor sit amet, claritas, nihil sed decima, etiam sequitur claram odio nibh, hendrerit.</p><a href="#" id="download-button" class="btn-large waves-effect waves-light white lighten-1">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}
